[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = ">=0.48.2,<0.52.0"

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
pydocstyle = "*"
coverage = "*"

[requires]
python_version = "3.6"
